.wrapper {
    height: 350px;
    width: 500px;
    display: flex;
    border-radius: 20px;
    border: 4px solid #CDF8F2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 70px;
    text-align: center;
}

.number {
    height: 150px;
    width: 450px;
    border-radius: 20px;
    border: 4px solid #CDF8F2;
    margin: 15px;
    font-size: 100px;
    text-align: center;
    color: #CDF8F2;
    font-weight: bold;

}

.buttonForm {
    height: 100px;
    width: 450px;
    border-radius: 20px;
    border: 4px solid #CDF8F2;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maxNumb {
    color: #FABCBC;
}

.disabledButton {
    opacity: 0.5;
}

.text {
    color: #CDF8F2;
    font-size: 40px;
}
.error{
    color: #FABCBC;
    font-size: 40px;
    text-align: center;
}